@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.section{
   margin-left: 120px;
   background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   width: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 40px;
   margin-top: -95px;
}
.list{
    
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}